$color-blue-1 :#1D00DB;
$color-blue-2 :#BEDB00;
$color-blue-3 : #048db8;
$color-blue-4 : #394e8e;
$color-red-1 :#ed3237;
$color-red-2: #E18402;
$color-red-3: #C90000;
$color-red-4 : #f73b00;
$color-red-5 : #FFCE85;
$color-black-1 : #333333;
$color-black-2 : #23527c;
$color-black-3 :#F5F5F5;
$color-white-1: #fff;
$color-white-2: #999;
$color-white-3 : #888888;
$box-shadow : 0px 1px 6px 5px #E5E5E5;