$color-blue-1 :#1D00DB;
$color-blue-2 :#BEDB00;
$color-blue-3 : #048db8;
$color-blue-4 : #394e8e;
$color-red-1 :#ed3237;
$color-red-2: #E18402;
$color-red-3: #C90000;
$color-black-1 : #333333;
$color-black-2 : #23527c;