.product {
  padding: 50px 0 30px 0;
  
  .product__top {
    h2 {
    
      text-transform: uppercase;
      text-align: center;
      color: $color-red-1;
    
  }
    span{
      font-weight: bold;
      color: $color-black-1;
      font-size: 18px;
      margin-right: 5px;
    }
    select{
     
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        option{
         background-color: $color-white-1;
         &:hover{
          background-color: #f0f0f0;
         }
        }
    }
  }
  #phone_content_main{
    padding: 30px 0;
  }
  .product__item {
    padding: 5px;
    .product--item {
      margin: 20px 0;
      background-color: $color-white-1;
      box-shadow: $box-shadow;
      padding: 10px;
      overflow: hidden;
      border-radius: 5px;

      img {
        box-shadow: $box-shadow;
        transition: all 0.5s;
        border-radius: 5px;
      }

      .product__img {
        position: relative;
        &:hover img {
          transform: scale(1.05);
        }
      }
      p {
        margin: 0;
        font-size: 14px;
        color: $color-white-3;
        font-weight: 500;
      }
      p:first-of-type {
        span:first-of-type {
          color: $color-red-3;
          font-weight: 700;
        }
        span:last-of-type {
          color: $color-red-4;
          background-color: $color-red-5;
          text-align: center;
          font-weight: 600;
          font-size: 13px;
          padding: 0 10px;
        }
      }
      .product__giamgia {
        position: absolute;
        top: 0px;
        left: -49px;
        background-color: $color-red-1;
        color: #fff;
        font-weight: 700;
        height: 29px;
        text-align: center;
        width: 137px;
        transform: rotate(-45deg);
        z-index: 1;
        overflow: hidden;
        line-height: 30px;
      }
      h3 {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 18px;
        margin-bottom: 3px;
        white-space: nowrap;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
      }
      .product__button {
        .product__icon {
          font-size: 10px;
          color: $color-red-2;
        }
      }
      &:hover h3 {
        color: $color-blue-1;
      }
    }
  }
  .product__nav {
    a {
      font-size: 20px;
      text-transform: uppercase;
      color: $color-blue-3;
      border: 1px solid $color-blue-3;
      padding: 15px 70px;
      border-radius: 30px;
      transition: all 0.5s ease-in-out;
      &:hover{
        color: $color-red-2;
      }
    }
  }
}
@include respond-to(md){
  .product__item{
    margin-left: auto;
    margin-right: auto;
  }
}