.cart {
  min-height: 400px;
  position: relative;
  .cart__slogan {
    
    align-items: center;
    transform: translate(40%, 50%);
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.875rem;
    line-height: 1rem;
    margin-top: 1.125rem;
    font-weight: bold;
    a {
      font-size: 1rem;
      text-transform: uppercase;
      color: $color-white-1;
      padding: 15px 50px;
      
      background-color: $color-red-1;
    }
    img{
      transform: translateX(44%);
    }
    display: none;
  }
  .car__heading {
    width: 100%;
    padding: 10px 0;
    background-color: $color-white-1;
    margin: 10px 0;
    span:nth-child(1) {
      width: 46.27949%;
      padding-left: 50px;
    }
    span:nth-child(2) {
      width: 15.88022%;
      text-align: center;
      color: $color-white-3 ;
    }
    span:nth-child(3) {
      width: 15.4265%;
      text-align: center;
      color: $color-white-3 ;
    }
    span:nth-child(4) {
      width: 10.43557%;
      text-align: center;
      color: $color-white-3 ;
    }
    span:nth-child(5) {
      width: 12.70417%;
      text-align: center;
      color: $color-white-3 ;
    }
  }
  .cart__item{
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    background-color: $color-white-1;
    a{
      text-align: start;
      width: 29.03811%;
      font-size: 15px;
      transition: all 0.5s;
      &:hover{
        color: $color-red-1;
      }
    }
    .cart__clear{
      width: 17.24138%;
    }
    span:first-of-type{
      width: 15.88022%;
    }
    .cart__quantity{
      width: 15.4265%;
    }
    span:last-of-type{
      width: 10.43557%;
      color: $color-red-1;
    }
    button{
      width: 12.70417%;
      transition: all 0.3s;
      &:hover{
        color: $color-red-1;
      }
    }
  }
}.nav__middle{
  .middle__content{
    span{
      color: $color-red-1;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
  .cart__thanhtoan{
    display: none;
  }
}
