
ul{
    list-style: outside none none;
    margin: 0;
    padding: 0;
  
}


header{
.navbar {
    background-color: $color-blue-1;
    margin-bottom: 0;
    color: $color-blue-2 ;
    // height: 39px;
    // line-height: 19px;
    // position: relative;
    li{
        display: inline-block;
        padding: 8px 0 8px 10px;
        a{
          @include a-style;
            &:hover{
                color: $color-red-1;
            }
        }
        
    }
    
        
      
    li:last-of-type a{
        border-right: none;
    }
    li:first-of-type a{
        padding-left: 0;
    }
    li:first-of-type{
        padding-left:0 ;
    }
     button{
        background-color: $color-blue-2;
        height: 30px;
        color: black;
        padding: 0rem 0.75rem;
        margin-top: -5px;
        
    }

    .show {
      @include nav-show;
       .nav__contact{
        .active{
            margin-top: -3px;
        }
        
       }
       .navbar-nav {li {
        a{
        border-right: none;
       }
    }
    }
   
    }
    .nav__hotline{
        display: none;
    }
    @include respond-to(lg){
        .nav__hotline{
            display: block;
            position: absolute;
            right: 10%;
            top: 10px;
            border: none;
            background-color: $color-blue-1;
            color: $color-white-1;
            font-size: 12px;
            &:hover{
                color: $color-red-1;
            }
            
        }
        .nav__phone{
            display: none;
        }
        .nav-item{
           padding-left: 0;
        }
    }
    
    
}

.nav__middle{
    padding: 20px 0;
    background-color: $color-white-1;
    .image{
        padding-left: 0 !important;
    }
    .logo{
        height: 58px;
        display: block;
        img{
            max-height: 100%;
            padding-left: 20px;
            
        }
        
    }
    @include respond-to(lg){
        .middle__content{
            padding-left: 0px !important;
            .box-search{
                padding-left: 3px !important;
            }
            .order-tracking{
                padding-left: 10px;
            }
        }
    }
    @include respond-to(md){
        .middle__content{
            padding-left: 3px !important;
        }
    }
    @include respond-to(sm){
        .middle__content{
            padding-left: 13px !important;
        }
        .order-tracking{
            padding-left: 10px;
        }
        .box-search{
            padding-left: 10px !important;
        }
    }
  
    .box-search{
        padding: 6px;
        .box-input{
            .input-group-search{
                border: 1px solid $color-blue-2;
                border-radius: 3px 0 0 3px;
                display: block;
                font-weight: 400;
                margin:0;
                padding-left: 0;
                position:relative;
                width: 65%;
                input[type="text"]{
                    border: 0 none;
                    box-shadow: none;
                    height: 32px;
                    outline: 0 none;
                    padding-left: 7px;
                    padding-right: 7px;
                    font-size: 13px;
                    text-indent: 10px;
                    width: calc(84%);
                    
                }
                
            }
            .group-collection-search{
                color: #555;
                width: 15%;
                display: inline-block;
                position: relative;
                button{
                    background-color: transparent;
                    background-image: none;
                    border: 1px solid $color-blue-2;
                    border-radius: 0;
                    cursor: pointer;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: normal;
                    height: 34px;
                    line-height: 1.42857;
                    margin: 0 0 0 -1px;
                    overflow: hidden;
                    padding: 6px 20px 6px 12px;
                    position: relative;
                    text-align: left;
                    text-overflow: ellipsis;
                    touch-action: manipulation;
                    vertical-align: middle;
                    white-space: nowrap;
                    width: 100%;
                   i{
                    transform: rotate(0deg);
                    transition: transform 0.6s ease 0s;
                    position: absolute;
                    right: 10px;
                    top: 9px;
                   }
                }
                .dropdown-menu{
                    background-clip: padding-box;
                    background-color: $color-white-1;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    border-radius: 4px;
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
                    
                    font-size: 14px;
                    left: 0;
                    list-style: outside none none;
                    margin: 2px 0 0;
                    min-width: 160px;
                    padding: 5px 0;
                    position: absolute;
                    text-align: left;
                    top: 100%;
                    z-index: 1000;
                    a{
                        display: block;
                        padding: 3px 20px;
                        clear: both;
                        font-weight: 400;
                        line-height: 1.42857143;
                        color: $color-black-1;
                        white-space: nowrap;
                    }
                }
            }
            .btn-search{
                border-radius: 0 3px 3px 0;
                font-weight: 600;
                height: 34px;
                margin-left: -1px;
                margin-right: -1px;
                padding-left: 10px;
                padding-right: 10px;
                text-transform: uppercase;
                background-color: $color-red-1;
                border: medium none;
                color: #ffffff;
                font-weight: bold;
                padding: 7px 0;
                width: 40px;
            }
        }
    }
    .cart_header{
        float: right;
        margin-top: 8px;
        padding-bottom: 10px;
        position: relative;
        a{
            display: block;
        }
        .cart_header_icon{
            background: rgba(0, 0, 0, 0) url("../img/cart.png") no-repeat scroll 0 50%;
            color: #000;
            display: inline-block;
            min-height: 40px;
            vertical-align: bottom;
            width: 40px;
        }
        .cart-items{
            bottom: 10px;
            display: inline-block;
            font-size: 15px;
            font-weight: 600;
            height: 22px;
            left: 0;
            overflow: hidden;
            position: absolute;
            right: 0;
            text-align: center;
            top: 11px;
            color: $color-white-1;
        }
        .cart_header_top_box{
            background: $color-white-1 none repeat scroll 0 0;
            box-shadow: 0 0 10px #000000;
            color: #666;
            display: block;
            opacity: 0;
            position: absolute;
            right: -1px;
            top: 100%;
            transform: translate(0px, 40px);
            transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
            visibility: hidden;
            width: 300px;
            z-index: 1002;
        }
        
    }
    .order-tracking{
        
        margin-top: 20px;
        margin-right: 50px;
        padding-bottom: 10px;
        a{
            color: $color-blue-2;
            font-size: 14px;
            transition: color 0.5s;
            &:hover{
                color: $color-red-1;
            }
        }
    }

    
}
.clear{
    clear: both;
}

.navigation-menu {
    background-color: $color-blue-2;
    color: $color-white-1;
    // height: 36px;
    // line-height: 20px;
    // position: relative;
  
    li {
      display: inline-block;
      padding: 8px 0 8px 10px;
  
      a {
       @include a-style2;
       
        
        &:hover {
          color: $color-red-1;
        }
      }
  
      &:last-of-type a {
        border-right: 1px solid $color-blue-2;
      }
    }
    .dropdown-menu{
        width: 200px;
        text-align: center;
        .dropdown-item{
            color: $color-white-3
        }
    }
    .show{
       @include nav-show;
       .active{
        margin-top: 5px;
       }
       .dropdown-menu {
        
        border: none;
        
        .dropdown-item{
            &:hover{
                color: $color-blue-1;
            }
        }
    }
    }
    button{
        background-color: $color-white-1;
        margin-top: -5px;
    }
    
       
    li:first-of-type a{
        padding-left: 0;
    }
    li:first-of-type{
        padding-left:0 ;
    }
      .navbar-nav .nav-item .tc{
                padding-left: 0.2rem !important;
            }
        
  }
  
}
